<div id="summary_cart">
	<div class="rows" id="cart_total">
		<h2 id="p_total"></h2>
		<!-- <input type="hidden" id="p_total" value="0"> -->
	</div>
	<div class="rows" id="cart_printer" style="display:none;">
		<h4><span id="n_printer"></span> <span id="u_printer"></span></h4>
		<h4 id="p_printer" class="text-muted"></h4>
	</div>
	<div class="rows" id="cart_cartridge" style="display:none;">
		<h4 id="n_cartridge">Cartride</h4>
		<h4 id="p_cartridge" class="text-muted">$0</h4>
		<div class="container" id="display_cartridge">
			
		</div>
	</div>
</div>