<!-- cart summary setion -->
<div id="summary_cart">
	<div class="rows" id="cart_total">
		<h2 id="p_total"></h2>
	</div>
	<div class="rows" id="cart_printer" style="display:none;">
		<h4><span id="n_printer"></span> <span id="u_printer"></span></h4>
		<h4 id="p_printer" class="text-muted"></h4>
	</div>
	<div class="rows" id="cart_cartridge" style="display:none;">
		<h4 id="n_cartridge">Cartridge<span id="n_c_info" data-toggle="tooltip" data-original-title="* Click on the cartridge to remove it from the cart or change the cartridge type (PLA/ABS)"> *</span></h4>
		<h4 id="p_cartridge" class="text-muted">$0</h4>
		<div class="container" id="display_cartridge">
		</div>
	</div>
	<div class="visible-xs" style="margin-bottom: 80px;"></div>
</div>