<div id="buc" class="tab-pane">
	<div class="container highlight zero-border-radius">

		<div class="col-md-8">
			<h3 id="printer_name" title="Buccaneer® 3D Printer">The Buccaneer®</h3>
			<p class="text-muted">The 3D Printer that Everyone can use!</p>
		</div>
		<div class="text-muted col-md-4">
			<h1>
				$
				<span id="printer_unit_price">397</span>
			</h1>
		</div>

	</div>
	<div class="rows">
		<div class="highlight zero-border-radius">
			<span class="col-md-4">choose # of units</span>
			<span class="col-md-offset-4">
				<select id="printer_unit" class="selectpicker" data-width="20%">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
				</select>
			</span>
		</div>

	</div>
	<div class="rows">
		<div class="highlight zero-border-radius">
			<h4>
				The Buccaneer® 3D Printer Total Price
				<span class="text-muted">
					- <strong>$</strong> <strong id="printer_price"></strong>
				</span>
			</h4>
			<button class="btn btn-primary btn-dec" id="printer_order" title="order">Add to Order</button>
			<button class="btn btn-primary btn-dec" id="printer_update_order" title="order" style="display:none;">Update Order</button>
		</div>

	</div>

</div>